# All macOS File data
.DS_Store

# node (logs, build files)
node_modules/
client/node_modules/
client/dist
*yarn-error.log
*package-lock.json

# configs
.vscode/
*.eslintrc

# python data
venv/
__pycache__/
*.egg-info/
